@import "../styles/color.scss";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.column-left {
    width: 25vw;
    padding: 0.5vw;

    // display positions
    display: flex;
    flex-direction: column;
}
.column-left-row-top {
    height: 23%;
}
.column-left-row-bottom {
    height: 70%;
}
.column-right {
    height: 95vh;
    width: 70vw;
    margin-left: 10px;
    padding: 0.5vw;
}